<p id="notice"><%= notice %></p>

<h1>Lighting Products</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Show</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lighting_products.each do |lighting_product| %>
      <tr>
        <td><%= lighting_product.id %></td>
        <td><%= lighting_product.name %></td>
        <td><%= link_to 'Show', lighting_product %></td>
        <td><%= link_to 'Edit', edit_lighting_product_path(lighting_product) %></td>
        <td><%= link_to 'Destroy', lighting_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lighting Product', new_lighting_product_path %>
